<div class="container">
<%= form_for Diary.new do |f| %>
    제목: <%= f.text_field :title %><br>
    내용: <%= f.text_field :content %><br>
    <%= f.submit %>
<% end %>
<div>

<div class="container">
    <div class="row">
        <div class="card col s12">
            <div class="card-content">
                <div class="card-title">새 다이어리 작성하기</div>
                <%= form_tag diaries_path do %>
                    <div class="input-field">
                        <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "무슨 생각을 하고 있나요?" %>
                    </div>

                    <div class="input-field">
                        <%= button_tag "다이어리 작성완료", class: "btn" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>