<p id="notice"><%= notice %></p>

<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">사진첩</h1>
    <div class="col-lg-3 col-md-4 col-6">
            <% @photos.each do |photo| %>
            <td><%= photo.title %></td> <br>
            <td><%= image_tag photo.image.thumb.url %></td> <br>
            <td><%= photo.content %></td>
            </a>
    </div>
            <td><%= link_to '보기', photo %></td>
            <td><%= link_to '수정', edit_photo_path(photo) %></td>
            <td><%= link_to '삭제', photo, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></td>
            <% end %>
    </div>
</div>
<br>

<%= link_to '새로운 사진', new_photo_path %>