<p id="notice"><%= notice %></p>

<p>
  <strong>제목:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @photo.content %>
</p>

<p>
  <strong>사진:</strong>
  <%= image_tag(@photo.image.url) %>
</p>

<%= link_to '수정하기', edit_photo_path(@photo) %> |
<%= link_to '돌아가기', photos_path %>
