<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @photo.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@photo.image.url) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
